@import '../css/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,900;1,700&family=Roboto:wght@400;500;700&display=swap');

header{
    height: 72px;
    box-shadow: 0px 0px 16px 0px #26262629;
}
.logo_header img{
    width: 119.23px;
    height: 12.31px;
    top: 30px;
    left: 84.38px;

}

.header_main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn{
    display: flex;
    align-items: center;
}

.header_container{
    width: 956px;
    margin: 0 auto;
}

.btn button{
    margin-right: 16px;
    padding: 14px 20px;
    border-radius: 3px;
    border:1px solid #E0E0E0;
    font-family: Roboto;
}
.btn img{
    cursor: pointer;
}
